<div class="form-group">
  <label for="title">Title</label>
  <input value="<%= note.title %>" type="text" name="title" id="title" class="form-control" required>
</div>
<div class="form-group">
  <label for="title">Description</label>
  <textarea name="description" id="description"  class="form-control" required>
    <%= note.description %>
  </textarea>
</div>
<div class="form-group">
  <label for="title">Markdown edition</label>
  <textarea name="markdown" id="markdown"  class="form-control" required>
    <%= note.markdown %>
  </textarea>  
</div>

<button type="submit" class="btn btn-light mt-2 float-right">Create</button>
<a class="btn btn-secondary mt-2 mr-2 float-right" href="/">Cancel</a>